/* Scout */
@font-face {
    font-family: 'Scout';
    src: url('../fonts/ScoutSansV4-Regular_ttf.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Scout';
    src: url('../fonts/ScoutSansV4-Medium_ttf.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Scout-wide';
    src: url('../fonts/ScoutSansWideV4-Medium_ttf.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Scout-cond';
    src: url('../fonts/ScoutSansSemiCondV4-Bold_ttf.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Scout-ibm-plex-mono';
    src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Scout-ibm-plex-mono';
    src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}