/* Container */
.container {
    position: relative;
    z-index: 2;
    background-color: $color-white;
}

::-webkit-scrollbar{
    display: none;
}

.sec {
    &__wrap{
        position: relative;
        width: 100%;
        max-width: 1695px;
        margin: 0 auto;
        padding-left: var(--grid-margin);
        padding-right: var(--grid-margin);
    }

    &__title {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 500;
        font-family: $font-wide;

        @include tablet {
            font-size: 3.4667rem;
        }

        @include mobile {
            font-size: 3rem;
        }
    }

    &__desc {
        font-size: 1rem;
        line-height: 1.25;
        color: #585856;
    }
}


/* Hero */
.hero {
    width: 100%;
    height: 100dvh;
    color: $color-white;
    position: relative;
    z-index: 3;
    background-color: $color-white;

    &__contents {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        height: 100%;
        padding: 24px;
        gap: 0.8rem;

        @include tablet {
            gap: 0.2rem;
        }

        .hero__text-wrap{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 30px;
            @include fancyLine(rgba(255, 255, 255, 0.3), 0 0 4px 4px);

            @include tablet {
                justify-content: center;
            }
            
            &:before{
                position: absolute;
                top: 0;
                border-top: none;
            }

            .hero__subtitle {
                font-size: 14px;
                color: rgba(255,255,255,0.7);
            }

            .hero__text {
                font-size: 12px;
                color: rgba(255,255,255,0.5);
                text-transform: uppercase;
                font-family: $font-mono;

                @include tablet {
                    display: none;
                }
            }
        }
    }

    &__video-bg {
        position: absolute;
        z-index: 1;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100vh;
        
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* About */
.about {
    position: relative;
    z-index: 1;
    margin-top: -99.9vh;
    margin-bottom: -100vh;
    height: 100%;
    overflow: hidden;
    
    &__inner{
        position: relative;
    }

    &__contents {
        position: absolute;
        color: $color-white;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);

        .about__text-box{
            height:100dvh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            opacity: 0;
            pointer-events: none;
            // visibility: hidden;

            @include tablet {
                justify-content: flex-end;
                align-items: center;
                text-align: center;
                padding-bottom: 20px;
            }

            &--btm{
                position: absolute;
                top:0;
                left:0;
                width: 100%;
            }

            .about__title{

                span{
                    position: relative;
                    display: inline-block;
                    --active-line: 0;

                    &:before{
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: var(--active-line);
                        height: 3px;
                        background-color: $color-primary;
                        bottom: 4px;
                        left:0;
                    }
                }

            }
    
            .about__desc{
                max-width: 482px;
                color: $color-white;

                @include tablet {
                    max-width: 320px;
                }
            }

            .about__button-wrap{
                font-size: 0;

                .about__button{
                    margin-right: 5px;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        z-index: 3;
        opacity: 0;

        @include tablet {
            display: none;
        }
    }

    &__canvas-wrap{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100dvh;
        background-color: $color-black;
        overflow: hidden;

        canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/* Viewfinder */
.viewfinder {
    position: relative;
    z-index: 2;
    padding:var(--grid-spacing) 0 20vw;
    @include bgDust;
    clip-path: inset(10% round 20px);
    overflow: hidden;

    @include tablet {
        padding-bottom: 38vw;
    }

    &__top {
        margin-bottom: 45px;

        @include tablet {
            max-width: 88%;
            margin: 0 auto 36vw;
        }

        &-year{
            position: relative;
            display: inline-block;
            font-size: 10px;
            font-weight: 500;
            line-height: 1.2;
            color: $color-primary;
            padding: 3px 5px;
            font-family: $font-mono;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 4px;
                border: 1px solid $color-primary;
                left:0;
            }

            &:before {
                top:0;
                border-bottom: none;
                border-radius: 4px 4px 0 0;
            }

            &:after{
                bottom:0;
                border-top: none;
                border-radius: 0 0 4px 4px;
            }
        }

        &-text {
            line-height: 1.25;
            max-width: 250px;
            margin-top: 10px;

            @include tablet {
                max-width: 100%;
            }
        }
    }

    &__rotate {
        position: relative;
        display: flex;
        justify-content: center;

        &-title {
            position: relative;
            font-size: 18.75vw;
            color: $color-secondary;
            letter-spacing: -.02em;
            text-align: center;
            line-height: 1;
            text-transform: capitalize;

            span {
                display: block;
            }

            span:last-child {
                color: $color-primary;
                position: relative;
                display: inline-block;
                z-index: 10;
            }
        }

        &-list {
            position: absolute;
            width: 58vw;
            aspect-ratio: 1 / 1;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            counter-reset: number;

            @include tablet {
                width: 120vw;
            }
        }

        &-item {
            position: absolute;
            top: 0;
            left: 50%;
            width: 9.5vw;
            height: 100%;
            transform: translateX(-50%) rotate(calc(30deg * var(--rotate-index)));

            @include tablet {
                width: 20vw;
            }

            &-inner {
                background-color: $color-white;
                border-radius: 4px;
                padding: 5px;

                @include mobile {
                    padding-top: 2px;
                }

                &:before {
                    content: "0" counter(number);
                    counter-increment: number;
                    font-family: $font-mono;
                    font-size: 0.75rem;
                    line-height: 1;
                }
            }

            &:nth-child(n+10) {
                .viewfinder__rotate-item-inner {
                    &:before {
                        content: counter(number);
                    }
                }
            }

            &-img {
                aspect-ratio: 1 / 1;
                margin-top: 1.25rem;

                @include mobile {
                    margin-top: 0.7857rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 100%;
            height: 100%;
            opacity: 0.2;
            overflow: visible;
        }
    }
}


/* Scene */
.scene {
    position: relative;
    z-index: 1;
    width:100%;
    height: 100dvh;
    @include bgDust;
    overflow: hidden;

    &__canvas{
        clip-path: inset(10% round 20px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Camp */
.camp{
    position: relative;
    z-index: 2;
    padding-top: 160px;
    background: #2c3262;
    background: linear-gradient(to top, #b58c78, #2c3262 60%);
    color: $color-white;
    overflow: hidden;
    margin-top: -100%;

    @include mobile{
        padding-top: 130px;
    }

    &:before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: url(../images/milkyway.webp) center center / cover;
        mix-blend-mode: screen;
        opacity: .5;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: center;

        .camp__title{
            font-size: 18.75vw;
            line-height: 0.9;
            letter-spacing: -0.02em;
            text-transform: capitalize;
            font-family: $font-default;
            text-align: center;
            font-weight: 500;
            display: inline-block;

            @include mobile {
                line-height: 1;
            }
    
            > span {
                display: block;
                overflow: hidden;

                span {
                    display: inline-block;
                }
            }
    
            > span:nth-child(1) {
                margin-left: -30vw;
            }
            > span:nth-child(3) {
                margin-left: -25vw;
            }
        }
    
        .camp__desc{
            position: absolute;
            top: 54.5%;
            left: calc(50% + 10vw);
            max-width: 380px;
            color: #eaeaea;
            text-align: justify;

            @include tablet {
                position: unset;
                margin-top: 150px;
            }

            @include mobile {
                max-width: 300px;
                margin-top: 80px;
            }
        }    
    }

    &__deco {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        &-text {
            position: absolute;
            font-size: .625rem;
            line-height: 1.2;
            font-family: $font-mono;
            opacity: 0.3;

            @include tablet {
                width: 100%;
                text-align: center;
            }

            &--top {
                top: 21%;
                right: calc(60% + 18vw);

                @include tablet {
                    top: 12%;
                    left: 0;
                }
            }

            &--btm{
                top: 25%;
                right: 17.5%;

                @include tablet {
                    top: 60%;
                    right: 0;
                }

                @include mobile {
                    top: 56%;
                }
            }
        }

        &-img {
            position: absolute;
            display: block;
            opacity: 0.8;

            &--lg {
                width: 100%;
                top: -15%;
                left: 0;

                @include mobile {
                    top: -7%;
                }
            }

            &--md {
                width: 65%;
                top: 48%;
                left: -20%;
            }

            &--sm {
                width: 40%;
                right: 0%;
                bottom: 55%;
            }

            &--badge {
                width: 7.2vw;
                top: 56%;
                left: calc(50% - 30vw);

                @include tablet {
                    top: 44%;
                }

                @include mobile {
                    left: calc(50% - 31vw);
                }
            }
        }
    }

    &__video-wrap{
        position: relative;
        z-index: 10;
        width:100%;
        margin-top: -8vw;

        @include tablet {
            margin-top: 50px;
        }

        .camp__video  {
            display: block;
            width:100%;
        }

        .camp__img {
            display: none;
            width:100%;
        }
    }

}

/* Safari */
@supports (-webkit-touch-callout: none) {
    .camp__video {
        display: none !important;
    }
    .camp__img {
        display: block !important;
    }
}


.reveal-event{
    @include bgDust;
    padding-top: var(--grid-spacing);
    padding-bottom: var(--grid-spacing);

    &__inner{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 var(--grid-margin);
    }

    &__title-wrap{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;

        @include tablet {
            align-items: flex-end;
        }

        @include mobile {
            flex-direction: column;
        }

        .reveal-event__title{
            width: 50%;

            @include tablet {
                width: 55%;
            }

            @include mobile{
                width: 100%;
            }
        }

        .reveal-event__desc-box{
            width: 50%;

            @include tablet {
                width: 45%;
            }

            @include mobile{
                width: 100%;
            }

            .reveal-event__desc{
                max-width: 410px;
    
                &:last-child {
                    margin-top: 1.25rem;
                }
    
                a{
                    text-decoration: underline;
                }

            }
        }
    }

    &__video{
        video {
            width:100%;
        }
    }
}


.product{
    position: relative;
    padding-top: var(--grid-spacing);
    @include bgDust;

    &__title-wrap{
        @include fancyLine;

        &:before{
            border-bottom:none;
        }

        .product__title {
            padding-top: 3.5rem;
            
            @include tablet {
                padding-top: 3rem;
            }

            @include mobile {
                padding-top: 2.5rem;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .25rem;
        padding: var(--grid-spacing) 16px;
        align-items: flex-start;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        position: relative;
        border-radius: 4px;
        width: 100%;
        color: $color-white;

        &:last-child{
            margin-top: 3.5rem;

            @include mobile {
                margin-top: 0;
            }
        }

        &-content{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 8px;
            aspect-ratio: 3 / 2;

            .product__item-heading{
                font-size: 0;

                .product__item-title{
                    display: inline-block;
                    width: 50%;
                    font-size: 1.75rem;
                    font-weight: 500;
                    vertical-align: top;
    
                    @include mobile {
                        font-size: 1.4286rem;
                    }
                }
    
                .product__item-text{
                    display: inline-block;
                    width: 50%;
                    font-size: 1.75rem;
                    vertical-align: top;
                    line-height: 1;
    
                    @include mobile {
                        font-size: 1.4286rem;
                    }
                }
            }
        }

        &-bg {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            //width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 4px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                transition: transform 0.5s;
            }
        }

        &-link {
            position: absolute;
            z-index: 4;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .product__item-title{
                text-decoration: underline;
            }

            .product__item-bg{
                img {
                    transform: scale(1.05);
                }
            }

            .product__item-button{
                background-color: color-mix(in srgb, black 20%, #FF5432);
            }
        }
    }
}


.story {
    padding-top: var(--grid-spacing);
    padding-bottom: var(--grid-spacing);
    
    &__contents {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        align-items: flex-start;
        row-gap: 3.5rem;
        @include fancyLine;

        @include tablet {
            row-gap: 3rem;
        }

        @include tablet {
            row-gap: 2.5rem;
        }

        &:before {
            grid-column: span 12;
            border-bottom:none;
        }

        .story__title{
            grid-column: span 12;
        }
        .story__desc{
            grid-column: 7 / span 3;

            @include tablet {
                grid-column: 1 / span 9;
                max-width: 332px;
            }

            @include mobile {
                grid-column: span 12;
                max-width: 100%;
            }
        }
        .story__button{
            grid-column: 11 / span 2;

            @include tablet {
                grid-column: 10/span 3;
            }

            @include mobile {
                grid-column: span 12;
            }
        }
    }
}

.legal{
    padding-top: var(--grid-spacing);
    padding-bottom: var(--grid-spacing);

    &__list {
        display: flex;
        flex-direction: column;
        counter-reset: number;

        &:before {
            content: "";
            display: inline-block;
            width: 100%;
            border-top: 1px solid rgba(0,0,0,0.3);
            margin-bottom: 2rem;
        }

        .legal__item {
            font-size: 14px;
            color: rgb(82, 82, 82);
            margin-bottom: 0.625rem;

            &:before {
                content: counter(number);
                counter-increment: number;
                display: inline-block;
                vertical-align: top;
                font-weight: 500;
                font-size: 0.6em;
                margin-right: 5px;
            }
        }

    }
}

